$light_theme_bg_primary: #e2e1e0;

$light_theme_txt_primary: #282828;
$light_theme_txt_secondary: #383838;

$light_theme_tile_bg_primary: white;
$light_theme_tile_bg_secondary: $light_theme_bg_primary;

$box-shadow-gradient-1: rgba(0,0,0,0.12);
$box-shadow-gradient-2:rgba(0,0,0,0.24);