form {
  background-color: $bg_secondary;
  display: flex;
  flex-direction: column;
  width: 30em;
  padding: $gutter;
  margin: $gutter auto;
  outline: 1px solid $primary_dark;

  label {
    display: flex;
    justify-content: space-between;
    color: $primary_light;
  }

  #reset-on-submit-checkbox {
    justify-content: flex-start
  }

}
