body {
  background-color: $light_theme_bg_primary;
  color: $light_theme_txt_primary;
  font-family: 'Overpass Mono', monospace;
  font-size: small
}

h1 {
  font-size: x-large;
  text-align: center;
}

.tile {
  display: block;
  border-radius: 2px;
  background-color: $light_theme_tile_bg_primary;
  margin: $gutter;
  padding: $half-gutter;
  width: $tile-width;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 3px $box-shadow-gradient-1, 0 1px 2px $box-shadow-gradient-2;
}

table {
  text-align: center;
  border-spacing: 0 3px;
  overflow: hidden;

  th {
    border-bottom: solid 1px $light_theme_tile_bg_secondary;
    table-layout: fixed;
    margin-bottom: $half-gutter;
  }

  tr:hover {background-color: $light_theme_tile_bg_secondary;}
}

